@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold.woff2') format('woff2'),
        url('Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold.woff2') format('woff2'),
        url('Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Regular.woff2') format('woff2'),
        url('Cabin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Herr Von Muellerhoff';
    src: url('HerrVonMuellerhoff-Regular.woff2') format('woff2'),
        url('HerrVonMuellerhoff-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Black.woff2') format('woff2'),
        url('SourceSansPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-SemiBold.woff2') format('woff2'),
        url('Cabin-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Bold.woff2') format('woff2'),
        url('SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-Bold.woff2') format('woff2'),
        url('MavenPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OPTITimes-Roman';
    src: url('OPTITimes-Roman.woff2') format('woff2'),
        url('OPTITimes-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Bold.woff2') format('woff2'),
        url('Cabin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Regular.woff2') format('woff2'),
        url('SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans.woff2') format('woff2'),
        url('GillSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-Light.woff2') format('woff2'),
        url('GillSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-Medium.woff2') format('woff2'),
        url('GillSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-Bold.woff2') format('woff2'),
        url('GillSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('GothamRounded-Book.woff2') format('woff2'),
        url('GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-Black.woff2') format('woff2'),
        url('MavenPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-Bold.woff2') format('woff2'),
        url('MavenPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-MediumItalic.woff2') format('woff2'),
        url('GillSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.woff2') format('woff2'),
        url('Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.woff2') format('woff2'),
        url('Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}






@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-Bold.woff2') format('woff2'),
        url('MavenPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-SemiBold.woff2') format('woff2'),
        url('MavenPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-Black.woff2') format('woff2'),
        url('MavenPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-Medium.woff2') format('woff2'),
        url('MavenPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-ExtraBold.woff2') format('woff2'),
        url('MavenPro-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-Regular.woff2') format('woff2'),
        url('MavenPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-SemiBold.woff2') format('woff2'),
        url('SourceSansPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Regular.woff2') format('woff2'),
        url('SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-CondensedBold.woff2') format('woff2'),
        url('GillSans-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-Heavy.woff2') format('woff2'),
        url('GillSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-SemiBold.eot');
    src: url('GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('GillSans-SemiBold.woff2') format('woff2'),
        url('GillSans-SemiBold.woff') format('woff'),
        url('GillSans-SemiBold.ttf') format('truetype'),
        url('GillSans-SemiBold.svg#GillSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'OPTITimes-Roman';
    src: url('OPTITimes-Roman.woff2') format('woff2'),
        url('OPTITimes-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-SemiBold.woff2') format('woff2'),
        url('OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




